# POC Environment Variables
OPENAI_API_KEY=sk-proj-c-YOUR-API-KEY-HERE

# Agent Constraints
MAX_ITERATIONS=5
MAX_TOOL_CALLS=20

# Model Config
DEV_AGENT_MODEL=gpt-5-mini
GUARDRAIL_MODEL=gpt-5-mini

# Path to the shared volume (use an absolute path if running orchestrator locally,
# or a relative path if orchestrator is in the root folder)
DJANGO_WORKSPACE_DIR=./app
